table {
	border: 1px solid black;
	}

td:hover {
	background-color: red;
	color: cornsilk;
	}

tr, th {
	background-color: black;
	color: white;
	}

tr, td {
	background-color: blue;
	color: white;
	}